## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build output
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## Publish output
[Pp]ublish/
PublishProfiles/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

## Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
